name: Build Module
run-name: Build Module

on:
  workflow_call:
    inputs:
      go-version:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    name: "Build"
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: "Set up Go"
        uses: actions/setup-go@v5
        with:
          go-version: ${{ inputs.go-version }}

      - name: "Install dependencies"
        run: go get

      - name: Build
        run: make build-multiarch

      - name: "Upload build artifacts"
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: dist/*
