name: Build Module
run-name: Build Module

on:
  workflow_call:
    inputs:
      app-version:
        required: true
        type: string
      go-version:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    name: "Build"
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: "Set up Go"
        uses: actions/setup-go@v5
        with:
          go-version: ${{ inputs.go-version }}

      - name: "Install dependencies"
        run: go get

      - name: Build
        env:
          VERSION: ${{ inputs.app-version }}
          GO_VERSION: ${{ inputs.go-version }}
        run: |
          # multi platform build
          platforms="linux/amd64 linux/arm64 darwin/arm64"

          for plat in $platforms; do
            go_os=${plat%/*}
            go_arch=${plat#*/}

            output="jira-${go_os}-${go_arch}"

            GOOS=${go_os} GOARCH=${go_arch} go build -v -o "$output"\
              -ldflags "-X github.com/eeternalsadness/jira/internal/util.Version=${VERSION} \
                        -X github.com/eeternalsadness/jira/internal/util.GoVersion=${GO_VERSION} \
                        -X github.com/eeternalsadness/jira/internal/util.GitCommitSHA=${GITHUB_SHA}"
          done

      - name: "Upload build artifacts"
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: |
            jira-*-*
            !jira-api-call.sh
