name: Publish Module
run-name: Publish ${{ github.ref_name }}

on:
  workflow_call:
    inputs:
      app-version:
        required: true
        type: string
      go-version:
        required: true
        type: string
    secrets:
      release-token:
        required: true

env:
  VERSION: ${{ inputs.app-version }}

jobs:
  publish:
    runs-on: ubuntu-latest
    name: "Publish"
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: "Set up Go"
        uses: actions/setup-go@v5
        with:
          go-version: ${{ inputs.go-version }}

      # need to do this due to weird connection errors with go list -m
      - name: "Clean Go module cache"
        run: go clean -modcache

      - name: "Publish module"
        run: GOPROXY=proxy.golang.org go list -m github.com/eeternalsadness/jira@${VERSION}

      - name: "Extract changelog section"
        id: changelog
        run: |
          echo "Extracting changelog for version $VERSION"

          awk "
            BEGIN {found=0}
            /^## \\[/ {
              if (found) exit;
              if (\$0 ~ \"\\[$VERSION\\]\") found=1;
            }
            found {print}
          " CHANGELOG.md > RELEASE_NOTES.md

          echo "notes<<EOF" >> $GITHUB_OUTPUT
          cat RELEASE_NOTES.md >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - name: "Download build artifacts"
        uses: actions/download-artifact@v5
        with:
          name: build-artifacts

      - name: "Create release"
        uses: softprops/action-gh-release@v2
        with:
          body: ${{ steps.changelog.outputs.notes }}
          prerelease: false
          token: ${{ secrets.release-token }}
          make_latest: "true"
          files: dist/*
