name: Pull Request
run-name: "Pull Request"

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    uses: "./.github/workflows/build-module.yaml"
    with:
      app-version: "v0.0.0"
      go-version: "1.23.x"
