name: Tag
run-name: Tag ${{ github.ref_name }}

on:
  push:
    tags:
      - v*.*.*

env:
  VERSION: ${{ github.ref_name }}
  GO_VERSION: "1.23.x"

jobs:
  build:
    uses: ./.github/workflows/build-module.yaml
    with:
      app-version: ${{ env.VERSION }}
      go-version: ${{ env.GO_VERSION }}

  publish:
    uses: ./.github/workflows/publish-module.yaml
    with:
      app-version: ${{ env.VERSION }}
      go-version: ${{ env.GO_VERSION }}
    secrets:
      release-token: ${{ secrets.RELEASE_TOKEN }}
