name: Tag
run-name: Tag ${{ github.ref_name }}

on:
  push:
    tags:
      - v*.*.*

jobs:
  build:
    uses: "./.github/workflows/build-module.yaml"
    with:
      app-version: ${{ github.ref_name }}
      go-version: "1.23.x"

  publish:
    uses: "./.github/workflows/publish-module.yaml"
    with:
      app-version: ${{ github.ref_name }}
      go-version: "1.23.x"
    secrets:
      release-token: ${{ secrets.RELEASE_TOKEN }}
